body {
	background: url(../imagens/cabecalho2.png);			
	background-attachment: fixed;
	font-family: serif;
	font-style: italic;
}

html, body, #home {
	height: 100%;
	overflow-x: hidden;
}



/*Cabeçalho*/
.logo {
	border-radius: 20px;
	font-family: serif;
	color: white;
}

.divisor {
	width: 1px;
	background: black;
	margin: 12px 15px;
}

nav.navbar-transparente {
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: black;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

/*Capa*/

.capa {
	text-align: center;
}

/*imóveis*/

.slider-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background:#e8e7e7; /* Background cinza */
    padding: 10px;
    border-radius: 10px;
    width: 320px; /* Ajuste conforme necessário */
}

.slider {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 200px; /* Ajuste o tamanho conforme necessário */
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

.slides {
    width: 400%; /* Ajuste de acordo com o número de slides */
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%; /* Ajuste de acordo com o número de slides */
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 10px;
}

.manual-btn:hover {
    background: #40D3DC;
}

/*Botões*/

#radio1-1:checked ~ .first {
    margin-left: 0;
}

#radio1-2:checked ~ .first {
    margin-left: -25%;
}

#radio1-3:checked ~ .first {
    margin-left: -50%;
}

#radio1-4:checked ~ .first {
    margin-left: -75%;
}


#radio2-1:checked ~ .first {
    margin-left: 0;
}

#radio2-2:checked ~ .first {
    margin-left: -25%;
}

#radio2-3:checked ~ .first {
    margin-left: -50%;
}

#radio2-4:checked ~ .first {
    margin-left: -75%;
}

#radio3-1:checked ~ .first {
    margin-left: 0;
}

#radio3-2:checked ~ .first {
    margin-left: -25%;
}

#radio3-3:checked ~ .first {
    margin-left: -50%;
}

#radio3-4:checked ~ .first {
    margin-left: -75%;
}

#radio4-1:checked ~ .first {
    margin-left: 0;
}

#radio4-2:checked ~ .first {
    margin-left: -25%;
}

#radio4-3:checked ~ .first {
    margin-left: -50%;
}

#radio4-4:checked ~ .first {
    margin-left: -75%;
}


#radio5-1:checked ~ .first {
    margin-left: 0;
}

#radio5-2:checked ~ .first {
    margin-left: -25%;
}

#radio5-3:checked ~ .first {
    margin-left: -50%;
}

#radio5-4:checked ~ .first {
    margin-left: -75%;
}


#radio6-1:checked ~ .first {
    margin-left: 0;
}

#radio6-2:checked ~ .first {
    margin-left: -25%;
}

#radio6-3:checked ~ .first {
    margin-left: -50%;
}

#radio6-4:checked ~ .first {
    margin-left: -75%;
}

#radio7-1:checked ~ .first {
    margin-left: 0;
}

#radio7-2:checked ~ .first {
    margin-left: -25%;
}

#radio7-3:checked ~ .first {
    margin-left: -50%;
}

#radio7-4:checked ~ .first {
    margin-left: -75%;
}


/*itens*/

.item-list {
    list-style-type: none;
    padding: 0;
    margin-left: 10px; /* Margem para posicionar à esquerda */
}

.item-list li {
    background: #ddd;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%; /* Ajuste conforme necessário */
    text-align: left;
}


/*Tipografia*/

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	color: black;
	}

	/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	h5 {
		font-size: 0.80em;
	}
	.btn-custom {
		
		font-size: 0.75em;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 2em;
	}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 3em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 5em;
	}
	.btn-custom {

		margin: 10px;
		font-size: 1.5em;
	}

    .img-imoveis {
        width: 600px;
        height: 200px;
    }
}

